{% extends 'bootstrap3/bootstrap3.html'}

{% load staticfiles %}

{% load bootstrap3 %}

{% load bootstrap_themes %}

{% bootstrap_styles theme='simplex' type='min.css' %}

{% block bootstrap3_extra_head %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block bootstrap3_title %}
    {% block title %}
        Welcome to Mystery Books!
    {% endblock %}
{% endblock %}

{% block bootstrap3_content %}

<link rel="stylesheet" href="style.css">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'index' %}" class="navbar-brand">Mystery Books</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="hvr-curl-top-right"><a href="{% url 'index' %}">Home</a> </li>
                    <li class="hvr-curl-top-right"><a href="#about">About</a> </li>
                    <li class="hvr-curl-top-right"><a href="#contact">Contact</a> </li>
                </ul>

            </div>
        </div>
    </nav>

<div class="container-fluid">
        <img src="{% static 'base/img/header_full.jpg' %}" />
        <div class="parallax" >
            {% block body %}
            <div class="col-md-8 col-md-offset-2 col-sm-12 maincontent">
                <div class="detail_book_display">
                    <img class="detail_book_img" src="{% static 'base/img/no_book_cover.jpg' %}">
                    <span class="detail_book_title">{{ book.title }}</span>
                    <span class="detail_book_author">{{ book.author }}</span>
                    <div class="detail_book_description">{{ book.description }}</div>
                </div>
            </div>

            {% endblock %}


{% endblock %}