/*style.css*/
.gridStyle { border: 1px solid rgb(212,212,212) }

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    opacity: 0.4;
}
/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

/* Storefront styles */

.storefront_book_display{
    width: 200px;
    display: inline-block;
    text-align: center;
}

.storefront_book_title{
    font-size: 14px;
    display: block;
    font-weight: bold;
}

.storefront_book_author{
    font-size: 11px;
    display: block;
}

.storefront_add_to_cart{
    display: block;
    margin-top: 10px;
}

/* Book detail styles */
.detail_book_display{
    text-align: center;
    margin-top: 20px;
}

.detail_book_img{
    margin-bottom: 20px;
}

.detail_book_title{
    font-size: 20px;
    display: block
}

.detail_book_author{
    font-size: 16px;
    display: block
}

.detail_book_description{
    text-align: center;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Cart Styles */
.cart_container {
    display: block;
    max-width: 750px;
    margin-left: auto;
    margin-rigt: auto;
}

.cart_item{
    width: 100%;
    margin-top: 20px;
    display: block;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.cart_listing {
    display: inline-block;
    width: 50%;
}

.cart_listing .title {
    display: block;
    font-weight: bold;
}

.cart_price {
    display: inline-block;
    text-align: right;
    width: 49%;
    vertical-align: top;
}

.cart_value {
    font-weight: bold;
}

.cart_quantity {
    display: block;
}

.cart_total {
    text-align: right;
    margin-top: 20px;
}